html { 
    background: url("./2352.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
h2{
    color:red;
}
body{
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#header{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding: 10px;
    font-size:xx-large;
}

#board{
    height: 675px;
    width: 400px;
    margin: 0 auto;
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(9, 255, 71, 0.40);
    backdrop-filter: blur(25px);
    border: 10px solid rgba(70, 20, 113, 0.75);
    border-radius: 25px;
    transform:scale(1.2)
}

.card{
    height: 128px;
    width: 90px;
    margin: 2.5px;
    border-radius: 15px;
    border: 0.1px solid rgba(30, 253, 197, 0.75);

    
}